<div class="app-container">
  <header class="app-header" role="banner" aria-label="Main header">
    <div class="header-logo">
      <img
        class="logo"
        src="assets/images/logo.jpg"
        alt="Rikstoto company logo "
      />
      <h1 id="dashboard-heading">HR Dashboard</h1>
    </div>
    <div class="header-actions" aria-label="User information">
      <span class="login-user">
        <img
          class="user-logo"
          src="assets/images/user.png"
          alt="Profile picture"
        />
        <span id="username">Amanda</span></span
      >
    </div>
  </header>

  <main class="app-content">
    <aside class="sidebar-container">
      <app-employee-list></app-employee-list>
    </aside>

    <section class="main-content" id="main-content">
      <app-employee-details></app-employee-details>
    </section>
  </main>
</div>
