<div class="app-container">
  <header class="app-header">
    <div class="header-logo">
      <img class="logo" src="assets/images/logo.jpg" alt="Logo" />
      <h1>HR Dashboard</h1>
    </div>
    <div class="header-actions">
      <span class="login-user">
        <img class="user-logo" src="assets/images/user.png" alt="User" />
        Amanda</span
      >
    </div>
  </header>

  <main class="app-content">
    <aside class="sidebar-container">
      <app-employee-list></app-employee-list>
    </aside>

    <section class="main-content" id="main-content">
      <app-employee-details></app-employee-details>
    </section>
  </main>
</div>
